@import url(../globalStyles.css);
@import url(./main.css);
@import url(./toast.css);

body {
    height: 100vh;
    position: relative;
}
.register {
    height: 28.6875rem;
}

.show {
    opacity: 1;
}

.hidden {
    display: none;
}